.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: "6px";
    gap: 0.8rem;
}
.flex > button{
    width: 40%;
    margin: auto;
    min-width:fit-content ;
}